/* 
================================================================================
WSP COMPONENT LIBRARY STYLESHEET
================================================================================ */



/* HEADER SPECIFIC ======================================== */
	body{
		color:white;
		font-family: sans-serif;
	}
	header{
		width:90%;
		margin:2% auto;
		text-align: center;
	}

	nav{
		padding:3.3%;
		position:relative;
		top:50px;
		background:#2E0854;
		text-align: left;
		border-radius: 5px;
	}

	#logo{
		border:4px solid black;
		width:27%;
		padding:1%;
		text-align: center;
		margin:auto;
		z-index: 100;
		position:absolute;
		left:36%;
		top:4%;
		background:lightGrey;
	}

	nav ul li{
		display: inline-block;
	}

	.left{
		margin:0 2.5% 0 5%;
	}
	.right{
		float:right;
		margin:0 2.5% 0 5%;
	}


	a:link, a:visited{
		font-size:1.5em;
		color:white;
	}


/* ABOUT SPECIFIC ======================================== */
	section{
		background:grey;
		position:relative;
		top:100px;
		width:90%;
		margin:2% auto;
		border-radius: 5px;
		padding:2%;
		overflow: auto;
	}

	aside{
		padding:2%;
		text-align: center;
		float:left;
		width:40%;
	}
	aside > img{
		border-radius: 5px;
	}

	h1{
		font-size:3em;
		text-align:center;
		color:#2E0854;
	}

	p{
		width:50%;
		float:left;
		padding:1%;
		margin:1% 4%;
		line-height:1.7em;
		font-size:1.5em;
	}

/* COMPONENTS SPECIFIC ======================================== */














