<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>WSP Component: Kimerlee Holcom</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<article>
		<h2>News</h2>
		<h4>Seeutem vel eum iriure gert</h4>
		<!-- sections are used to separate the 3 different areas -->
		<section>
			<img src="../../img/news1.jpg" alt="news image 1" />
				<h3>Duis autem vel eum iriur</h3>
				<p>Accumsan et iusto odio dignissim qui blandit pra sent luptaum zzelenit augue duis dolore te feugait nulla facilisi. Typi non habent claritatem insita.</p>
				<date class="date">21 / 09  2015</date>
		</section>
		<section>
			<img src="../../img/news2.jpg" alt="news image 2" />
				<h3>Mirum est notare quam</h3>
				<p>Seumsan et iusto odio dignissim qui blandit pra sent luptaum zzelenit augue duis dolore te feugait nulla facilis non habent claritatem insita.</p>
				<date class="date">10 / 03  2015</date>
		</section>
		<section>
			<img src="../../img/news3.jpg" alt="news image 3" />
				<h3>Lorem ipsum dolor sit</h3>
				<p>Deignissim qui blandit pra sent luptaum zzelenit augu dui dolore te feugait nulla facilisi. Typi non habent clarita tas est etiam processus</p>
				<date class="date">17 / 11  2015</date>
		</section>
	</article>
	<!-- End Component -->
	
</body>
</html>