<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
		<h2>News</h2>
		<h4>Seeutem vel eum iriure gert</h4>
		<div>
			<img src="../../img/news1.jpg" alt="news image 1" />
			<div>
				<h3>Duis autem vel eum iriur</h3>
				<p>Accumsan et iusto odio dignissim qui blandit pra sent luptaum zzelenit augue duis dolore te feugait nulla facilisi. Typi non habent claritatem insita.</p>
			</di>
			<div>
				<p>21 / 09 <br/> 2015</p>
			</div>
		</div>
		<div>
			<img src="../../img/news2.jpg" alt="news image 2" />
			<div>
				<h3>Mirum est notare quam</h3>
				<p>Seumsan et iusto odio dignissim qui blandit pra sent luptaum zzelenit augue duis dolore te feugait nulla facilis non habent claritatem insita.</p>
			</di>
			<div>
				<h2>10 / 03 <br/> 2015</h2>
			</div>
		</div>
		<div>
			<img src="../../img/news3.jpg" alt="news image 3" />
			<div>
				<h3>Lorem ipsum dolor sit</h3>
				<p>Deignissim qui blandit pra sent luptaum zzelenit augu dui dolore te feugait nulla facilisi. Typi non habent clarita tas est etiam processus</p>
			</di>
			<div>
				<h2>17 / 11 <br/> 2015</h2>
			</div>
		</div>
	</section>
	<!-- End Component -->
	
</body>
</html>