<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>WSP Component: Kimerlee Holcom</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
		<h4>Follow Us</h4>
		<ul>
			<li><a href="#"><img src="../../img/socfacebook.png" alt="Facebook" /></a></li>
			<li><a href="#"><img src="../../img/soctwitter.png" alt="Twitter" /></a></li>
			<li><a href="#"><img src="../../img/socgoogle.png" alt="Google+" /></a></li>
			<li><a href="#"><img src="../../img/socinstagram.png" alt="Instagram" /></a></li>
			<li><a href="#"><img src="../../img/socskype.png" alt="Skype" /></a></li>
			<li><a href="#"><img src="../../img/socvimeo.png" alt="Vimeo" /></a></li>
		</ul>
	</section>
	<!-- End Component -->
	
</body>
</html>