<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>WSP Component: Kimerlee Holcom</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
		<h4>Follow Us</h4>
		<ul>
			<li><a href="#"><span>Facebook</span></a></li>
			<li><a href="#"><span>Twitter</span></a></li>
			<li><a href="#"><span>Google+</span></a></li>
			<li><a href="#"><span>Instagram</span></a></li>
			<li><a href="#"><span>Skype</span></a></li>
			<li><a href="#"><span>Vimeo</span></a></li>
		</ul>
	</section>
	<!-- End Component -->
	
</body>
</html>