<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>WSP Component: Kimerlee Holcom</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<article>
		<section>
			<h5 id="classes">Classes</h5>
		</section>
		<section>
			<h5 id="community">Community</h5>
		</section>
		<section>
			<h5 id="center">Wisdom Center</h5>
		</section>
		<section>
			<h5 id="dinner">Friday Night Dinner</h5>
		</section>
	</article>
	<!-- End Component -->
	
</body>
</html>