<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>WSP Component: Kimerlee Holcom</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
		<div>
			<img src="../../img/darkClass.png" alt="classes" />
			<h5>Classes</h5>
		</div>
		<div>
			<img src="../../img/darkCommunity.png" alt="community" />
			<h5>Community</h5>
		</div>
		<div>
			<img src="../../img/darkBook.png" alt="Wisdom Center" />
			<h5>Wisdom Center</h5>
		</div>
		<div>
			<img src="../../img/darkDinner.png" alt="Friday Night Dinner" />
			<h5>Friday Night Dinner</h5>
		</div>
	</section>
	<!-- End Component -->
	
</body>
</html>