/* 
================================================================================
COMPONENT STYLESHEET -- GALLERY
================================================================================ */

/* HEADER ======================================== */

/* HEADER ======================================== */

article{
	box-sizing:border-box;
	background:#fff;
	text-align: center;
	margin:2% auto;
	overflow: auto;
	padding:1%;
}
article img{
	margin-bottom:2%;
}
section{
	box-sizing:border-box;
	padding:1%;
	overflow:auto;
	text-align: center;
}

ul{
	width:50%;
	margin:auto;
}

ul::before{
	content:url('../../img/larrow.png');
	position:relative;
	bottom:30px;
	width:15%;
	cursor: pointer;
}

ul::after{
	content:url('../../img/rarrow.png');
	position:relative;
	bottom:30px;
	cursor: pointer;
}

ul li{
	margin:auto;
	display:inline-block;
	width:14.2857%;
	margin:1%;
}

ul li img{
	width:100%;
}

