<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>WSP Component: Kimerlee Holcom</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
		<img src="../../img/mainImage.png" alt="Main Image" />
		<img src="../../img/leftArrow.png" alt="leftArrow" />
		<img src="../../img/galleryImg1.png" alt="img 1" />
		<img src="../../img/galleryImg2.png" alt="img 2" />
		<img src="../../img/galleryImg3.png" alt="img 3" />
		<img src="../../img/galleryImg4.png" alt="img 4" />
		<img src="../../img/galleryImg5.png" alt="img 5" />
		<img src="../../img/rightArrow.png" alt="rightArrow" />
	</section>
	<!-- End Component -->
	
</body>
</html>