<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>WSP Component: Kimerlee Holcom</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<article>
		<img id="main" src="../../img/mainImage.png" alt="Main Image" />
		<section>
			<a href="#"><img src="../../img/larrow.png" alt="leftArrow" /></a>
			<ul>
				<li><img src="../../img/galleryImg1.png" alt="img 1" /></li>
				<li><img src="../../img/galleryImg2.png" alt="img 2" /></li>
				<li><img src="../../img/galleryImg3.png" alt="img 3" /></li>
				<li><img src="../../img/galleryImg4.png" alt="img 4" /></li>
				<li><img src="../../img/galleryImg5.png" alt="img 5" /></li>
			</ul>
			<a href="#"><img src="../../img/rarrow.png" alt="rightArrow" /></a>
		</section>
	</article>
	<!-- End Component -->
	
</body>
</html>