/* 
================================================================================
COMPONENT STYLESHEET -- FOOTER
================================================================================ */

/* HEADER ======================================== */

/* HEADER ======================================== */
body{
}

footer{
	color:#fff;
	box-sizing:border-box;
	width:80%;
	margin:3% auto;
	padding:1%;
	background: url('../../img/footerBG.jpg') no-repeat top center;
	background-size: 98%;
	overflow: auto;
	font-family:Arial, sans-serif;
}


h3{
	font-family:Arial, sans-serif;
	text-align:center;
	font-size:1.2em;
	padding-top:3%;

}

h3 + p{
	font-size:1.2em;
	text-transform: uppercase;
	position:relative;
	top:50px;
	text-align: center;
	line-height: 0.75em;
	color:#555354;
}

p img{
	width:1.5%;
	position:relative;
	top:8px;
}
section{
	width:30%;
	float:left;
	margin: 5% 2%;
	color:#555354;
}

h4, section:last-of-type{
	text-transform:uppercase;
}

h4{
	font-size:1.3em;
	margin-bottom:4%;
	color:#fff;	
}
p{
	font-size:1.1em;
	line-height: 1.3em;
	margin-bottom:2%;
}

ul{
	margin:3% 0;
}

li{
	display:inline-block;
	width:10%;
	text-align: center;
}

li img{
	width:80%;
}




















