<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<footer>
		<div>
			<h3>GoodBytes</h3>
		</div>
		<div>
			<p>Are you looking for a web designer in Belgium?(Mechelen to be precise)<br/> I <span>Love</span> building web based & mobile applications</p>
		</div>
		<div>
			<h3>Can I help you?</h3>
			<p>workshops, lectures, consultancy, web design, app development, making great espresso, funning, any of the above combined*</p>
			<p>*results may vary if combined</p>
		</di>
		<div>
			<h3>Get in Touch</h3>
			<p>Mail hello(at)goodbytes.be</p>
			<ul>
				<li><a href="#">Twitter</a></li>
				<li><a href="#">Facebook</a></li>
				<li><a href="#">RSS</a></li>
				<li><a href="#">LinkedIn</a></li>
			</ul>
	</footer>
	<!-- End Component -->
	
</body>
</html>