<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>WSP Component: Kimerlee Holcom</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<footer>
		
			<h3>GoodBytes</h3>
		
			<p>Are you looking for a web designer in Belgium?(Mechelen to be precise)<br/> I <img src="../../img/SmallHeart.png" alt="LOVE"/> building web based & mobile applications</p>
		<!-- Div is used to separate the areas to float next to each other -->
		<section>
			<h4>Can I help you?</h3>
			<p>workshops, lectures, consultancy, web design, app development, making great espresso, funning, any of the above combined*</p>
			<p>*results may vary if combined</p>
		</section>
		<section>
			<h4>Get in Touch</h3>
			<p>Mail hello(at)goodbytes.be</p>
			<ul>
				<li><a href="#"><img src="../../img/twitter.png" alt="Twitter"/></a></li>
				<li><a href="#"><img src="../../img/facebook.png" alt="Facebook" /></a></li>
				<li><a href="#"><img src="../../img/rss.png" alt="RSS" /></a></li>
				<li><a href="#"><img src="../../img/linkedin.png" alt="LinkedIn" /></a></li>
			</ul>
		</section>
	</footer>
	<!-- End Component -->
	
</body>
</html>