<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>WSP Component: Kimerlee Holcom</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<article>
		<h2>How to find us</h2>
		<section> 
			<img src="../../img/mapimg.png" alt="map" />
		</section>
		<h5>The Company Name Inc.</h5>
		<address>8901 Marmora Road, Glasgow, D04 89GR</address>
		<p>Freephone: +1 800 559 6580</p>
		<p>Telephone: +1 800 603 6035</p>
		<p>FAX: +1 800 889 9898</p>
		<address> E-mail: <span>mail@demolink.org</span></address>
	</section>
	<!-- End Component -->
	
</body>
</html>