/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* HEADER ======================================== */

/* HEADER ======================================== */


section{
	width:38%;
	margin:2% auto;
	cursor: pointer;
}

h2{
	width:60%;
	color:#333;
	font-size: 4em;
	position:relative;
	top:-550px;
	font-family:Arial, sans-serif;
	font-weight: bolder;
	height:100px;
	margin:1% 3%;
}