<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>WSP Component: Kimerlee Holcom</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<article>
		<section>
			<h2>Who We Are</h2>
			<img src="../../img/aboutimg.jpg" alt="doctors" />
			<h4>Sum dolor sit amet. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipis.</h4>
			<p>Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean uctor wisi etrna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Lorem ipsum dolor sit amet, consectetuer adipiscing elitsent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phlus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus.</p>
		</section>
		<section id="history">
			<h2>Our History</h2>
				<h4>2006-2008</h4>
				<p>Lorem ipsum dolor sit amet conse ctetur adipi sicing elit, sed do eiusmod tempor incididunt ut labore etlore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. Lorem ipsum dolor sit amet conse ctetur adipisi.</p>
		
				<h4>2009-2010</h4>
				<p>Ut nec egestas nulla. Suspendisse interdum pu rus a molestie convallis. Donec blandit elemetum luctus. Nunc in facilisis nisl. Nam imperdiet non nulla eu sollicitudin. Mauris odio doloraliq.</p>
			
				<h4>2011-2013</h4>
				<p>Praesent vestibulum molestie lacus. Aenean num my hendrerit mauris. Phasellus porta. Fusce pitius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.</p>
			
				<h4>2014-2015</h4>
				<p>Aenean auctor wisi et urna. Aliquam erat volu tpat. Duis ac turpis. Integer rutrum ante eu lacus. Lorem sum dolor sit amet, consectetuer adiping elit. Praesent vestibulum molestie lacus.</p>
		</section>
		<section>
			<h2>Why Us?</h2>
			<h4>Donec sit amet eros. Lorem ipsum dolor sit amet, cotetuer adipiscing elit. Mauris fermentum dictum magna.</h4>
			<p>Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Lorem ipsum dolor sit amet.</p>

			<ul>
				<li>Lorem ipsum dolor sit amet</li>
				<li>Consectetuer adipiscing elit</li>
				<li>Mauris fermentum dictum magna</li>
				<li>Sed laoreet aliquam leo</li>
				<li>Ut tellus dolor dapibus eget elem</li>
			</ul>
		</section>
	</article>
	<!-- End Component -->
	
</body>
</html>